<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write New Chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="From ?" name="from"/>
        <br /><br />
        <input placeholder="To ?" name="to"/>
        
        <br /><br />
        <textarea placeholder="Write Your Message Here" name="msg"></textarea>
        <br />
        <button type="submit"> Send</button>
    </form>
</body>
</html>